<!DOCTYPE html>
<html id="ng-app">
<head>
	<title>Currency Converter</title>
	<meta name="viewport" content="width=device-width">
	<link href="assets/css/general.css" rel="stylesheet">
</head>
<body>
	<div data-ng-controller="curConvController" id="mainFormDiv" class="main-div">
	<h2>Currency Converter</h2>
		<div class="row alert-error" data-ng-show="showErrorMsg">
			<span class="error-msg" data-ng-bind="errorMsg">Application encountered a problem. Fixer Rate API is down</span>
		</div>
		<div class="row">		
			<div class="label">Type in amount and select currency:</div>
			<div>
				<input type="text" class="input-field" placeholder="0.00" name="initAmt" data-ng-model="initAmt " decimal-number data-ng-change="convertAmt()" autofocus/>
				<select id="dropdown1" class="select-field"  data-ng-model="initCurr" data-ng-change="getCurrencyRates()">
					<option value="CAD">CAD</option>
					<option value="USD">USD</option>
					<option value="EUR">EUR</option>
				</select><br/>
			</div>		
		</div>
		<div class="row">
			<div class="label">Converted Amount:</div>
			<div>
				<input type="text" class="input-field" data-ng-model="convAmt" disabled>
				<select id="dropdown1" class="select-field"  data-ng-model="convCurr" data-ng-change="convertAmt()">
					<option value="CAD">CAD</option>
					<option value="USD">USD</option>
					<option value="EUR">EUR</option>
				</select>
			</div>		
		</div>
		<div class="row disclaimer-row">
			<a href="" data-ng-click="showDisclaimerInfo()" class="elem-right">Disclaimer</a>
		</div>
		<div class="row alert-info" data-ng-show="disclaimerInfo">
			<div class="disclaimer-info" data-ng-if="equivAmt != ''">Conversion rates are subject to change based on Fixer API:<br/>
			<span data-ng-bind="discAmt"></span><span data-ng-bind="initCurr"></span> <span data-ng-bind="eqConstant"></span><span data-ng-bind="equivAmt"></span><span data-ng-bind="convCurr"></span></div>
		</div>
	 </div>
<!-- 	<script type="text/javascript" src="assets/js/angular.min.js"></script>	 -->
	<script data-main="app/main" src="assets/js/require.js"></script>
<!-- 	<script type="text/javascript" src="app/app.js"></script> -->
<!-- 	<script type="text/javascript" src="app/controller/curConvController.js"></script>	 -->
<!-- 	<script type="text/javascript" src="app/factory/dataServices.js"></script>	 -->
<!-- 	<script type="text/javascript" src="app/directive/decimalNumber.js"></script> -->
<!-- 	<script type="text/javascript" src="app/directive/selectEvent.js"></script> -->
</body>
</html>