	body {
	    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 15px;
		line-height: 1.42857143;
		color: #333;
		background-color:#e5e3e3;
		//background-color: #333333;
	}
	h1{
		font-size:35px;
	}
	h2{
		font-size: 20px;
	}
	.alert-info{
		color: #31708f !important;
   		background-color: #d9edf7;
    	border-radius: 7px;
	    width: 80% !important;
		font-size: 15px;
		padding: 10px 15px;
	}
	.disclaimer-info{
		float:left;
		width: 90%;
   		padding: 5px
	}
	.error-msg{
		color:red;
	}
	
	.elem-right{
		float:right;
	}
	.input-field{
		width: 50%;
		height: 30px;
		border-radius: 3px;
		border: 1px solid #999999;
		 min-width: 150px;
	}
	.label{
		font-size:18px;
		color:#999999;
	}
	.row{
		display:inline-block;
		width:100%;
		padding:5px;		
	}
	.disclaimer-row{
		width:80%;
	}
	.main-div{
		padding: 10px;
		padding-left: 55px;
		width:30%;
		background-color: #ffffff;
		margin-left: 35%;
		margin-top: 5%;
	}
	a:active,a {
    	text-decoration: underline;
    	color: blue;
	}
	.select-field{
		width: 30%;
		height: 33px;
		border-radius: 3px;
		background-color: #d3d4d6;
		border: 1px solid #999999;	
		min-width: 60px;
	}	
	
	.close {
	    display: block;
	    position: relative;
	    float:right;
	    width: 20px;
	    height: 20px;
	    transition: transform .25s ease-in-out;
	}

	.close:before {
	    content: "";
	    display: block;
	    margin: auto;	 
	    position: relative;
	    margin-top: 10px;
	    width: 15px;
	    height: 0;
	    border-top: 1px solid rgba(0,0,0,0.5);
	    transform: rotate(45deg);
	    transform-origin: center;
	}
	.close:after {
	    content: "";
	    position: relative;
	    display: block;
	    margin: auto;
	    width: 15px;
	    height: 0;
	    border-top: 1px solid rgba(0,0,0,0.5);
	    transform: rotate(-45deg);
	    transform-origin: center;
	}

	@media screen and (max-width: 520px) {
    	.main-div{
			padding: 10px;
			padding-left: 55px;
			width:60%;
			background-color: #ffffff;
			margin-left: 10%;
		}
		.select-field{
			margin-top:10px;
		}
		.disclaimer-info {
		    width: 70%;
		}
	}
	
		